<div class="container">

	<h3 class="text-center my-5">Cadastre-se</h3>

	<mat-form-field>
		<input matInput placeholder="Nome" [(ngModel)]="model.name" name="name" required>
	</mat-form-field>

	<mat-form-field>
		<input matInput placeholder="E-mail" [(ngModel)]="model.mail" name="mail" required>
	</mat-form-field>

	<mat-form-field>
		<input matInput placeholder="Senha" [type]="'password'" [(ngModel)]="model.password" name="password" required>
	</mat-form-field>

	<mat-form-field>
        <input matInput placeholder="Nome da aplicação" [(ngModel)]="model.nameApp" name="nameApp" required>
	</mat-form-field>

	<mat-form-field>
        <input matInput placeholder="IP" [(ngModel)]="model.ip" name="ip" required>
	</mat-form-field>

	<mat-form-field>
        <input matInput placeholder="URL" [(ngModel)]="model.url" name="url">
	</mat-form-field>

	<button mat-raised-button color="primary" routerLink="/login" (click)="save()" 
	[disabled]="model.password.length == 0 || model.mail.length == 0 || model.name.length == 0
	|| model.nameApp.length == 0 || model.ip.length == 0" >Cadastrar</button>
</div>